.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .inputContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    .input {
      height: 2rem;
      width: 60%;
      font-size: 1rem;
      padding-left: 1rem;
    }
  }
  .galleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .imageContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 400px;
      .image {
        padding: 1rem;
        object-fit: cover;
        max-height: 200px;
      }
      .title {
        padding: 0 1rem;
        width: 270px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .button {
    height: 2rem;
    font-size: 1rem;
    padding: 0 1rem;
    margin-left: 1rem;
  }
  .pageNumber {
    text-align: center;
  }
}
